@using DropSpace.FrontEnd.Utils
@using Refit
@inherits LayoutComponentBase
@inject AuthManager authProvider
@inject NavigationManager navigationManager

<div class="page">
    <div class="sidebar bg-dark">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>


@code {
    protected async override Task OnInitializedAsync()
    {
        try
        {
            await authProvider.RefreshAccess();
        } catch (ApiException ex)
        {
            if (ex.StatusCode == System.Net.HttpStatusCode.Unauthorized)
            {
                navigationManager.NavigateTo("/login");
            }
        }
    }
}