@using DropSpace.Models.Data
@using System.Security.Claims
@using DropSpace.Services
@inject SessionService SessionService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DropSpace</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DropSpace.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.6.0-web/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body class="fullscreen flex-column flex-grow-0" style="display: flex;">
    <header>
        <nav class="navbar navbar-dark bg-black">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">DropSpace</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Переключить навигацию">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Ваши сессии</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
                    </div>
                    <div class="offcanvas-body d-flex flex-column">
                        <ul id="sessionsContainer" class="navbar-nav flex-grow-1 pe-3 d-flex flex-column gap-2">
                        </ul>
                        <span class="subtitle w-100" style="font-size: 1.5em; letter-spacing: 1px; flex: 0 1 auto; text-align: right"><span id="sessionsCounter">0</span> / @User.FindFirstValue("maxSessions")</span>
                        <div>
                            <hr />
                            <button type="button" class="btn btn-dark w-100" data-bs-toggle="modal" data-bs-target="#createSessionModal">
                                Добавить сессию
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

    </header>
    <div class="flex-grow-1 @ViewData["ContainerClasses"]">
        @RenderBody()
    </div>
    <div class="modal fade text-white" id="createSessionModal" data-bs-theme="dark" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Создать сессию</h5>
                </div>
                <form id="createSessionForm" method="post" asp-action="Create" asp-controller="Session">
                    <div class="modal-body">
                        <div class="form-floating">
                            <input id="createSessionName" name="Name" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Название" value="Новая Сессия" required maxlength="30"/>
                            <label class="form-label">Название</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button id="createSessionButton" type="submit" class="btn btn-outline-primary">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 99999">
        <div id="error-toast" class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div id="error-toast-body" class="toast-body">
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@microsoft/signalr@latest/dist/browser/signalr.min.js"></script>
    <script>
    </script>
    <script src="~/js/site.js"></script>
    <partial name="_ValidationScriptsPartial" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>