@{
    ViewData["Title"] = "Главная";
}


<nav class="navbar navbar-dark bg-dark">
    <div class="container p-3" style="display: block">
        <div class="navbar-nav mr-auto flex-row gap-5 align-items-center justify-content-between" style="display: flex;">
            <span class="nav-item text-white" style="cursor: pointer">
                Сессия не создана
            </span>
            <ul class="gap-4 m-0" style="display: flex;">
                <li class="nav-item text-white flex-column align-items-center" style="cursor: pointer; display: flex;">
                    <div> - / - <span class="subtitle" style="letter-spacing: 0px; font-size: 0.7em; margin: 0 0 0 0.5em">MB</span></div>
                    <div class="subtitle" style="font-size: 0.7em; letter-spacing: 1px">Максимальный объем</div>
                </li>
                <li class="nav-item text-white flex-column align-items-center" style="cursor: pointer; display: flex;">
                    <div>00:00:00</div>
                    <div class="subtitle" style="font-size: 0.7em; letter-spacing: 1px">Оставшееся время</div>
                </li>
            </ul>
        </div>
    </div>
</nav>