@{
    ViewData["Title"] = "Главная";
    ViewData["ContainerClasses"] = "flex-column align-items-center justify-content-center d-flex";
}

<h1 id="invite-code" class="invite-code" style="font-size: 3em; cursor: default; letter-spacing: 1em"></h1>