@{
    ViewData["Title"] = "Главная";
    ViewData["ContainerClasses"] = "flex-column align-items-center justify-content-center d-flex";
}

<h1 class="text-center fs-1" style="font-weight: 800">
    Сессия не выбрана!
</h1>
<p class="text-center fs-5" style="color: #6e6e6e; max-width: 75%">
    Для продолжения необходимо создать сессию или войти в уже существующую в боковом меню. Боковое меню открывается нажатием на кнопку в правом верхнем углу экрана.
</p>