@{
    ViewData["Title"] = "Главная";
    ViewData["ContainerClasses"] = "flex-column align-items-center justify-content-center d-flex";
}

<div class="d-flex flex-column align-items-center justify-content-center py-3 container">
    <div id="home-qr" class="qrcode"></div>
    <h1 id="invite-code" class="invite-code" style="font-size: 3em; cursor: default;"></h1>
    <p class="subtitle fs-5 p-3 text-center" style="letter-spacing: normal">Отсканируйте этот QR-код или используйте уникальный код ниже, чтобы войти в удаленную сессию.</p>
</div>