
@{
    ViewData["Title"] = "Choose";
}

<h1>Choose</h1>

@using (Html.BeginForm("OneTimeRegister", "Auth", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    <button style="margin: 0 0 15px 0" class="btn btn-primary" type="submit">Одноразово</button>
}

@using (Html.BeginForm("LoginPersistant", "Auth", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    <button class="btn btn-primary" type="submit">Через логин-пароль</button>
}
