html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.validation-div ul {
    list-style: none;
    padding-left: 0;
}


.subtitle {
    color: gray;
    letter-spacing: 0.5em;
    font-size: 0.75em
}

.fullscreen {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.navbar-brand {
    font-family: "Bebas Neue";
    font-weight: 500;
    font-style: normal;
    color: #6098f5;
    transition: all 0.3s;
    font-size: 2em;
}

.footer {
    padding: 1em;
}