html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.validation-div ul {
    list-style: none;
    padding-left: 0;
}


.subtitle {
    color: gray;
    letter-spacing: 0.5em;
    font-size: 0.75em
}

.fullscreen {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.navbar-brand {
    font-family: "Bebas Neue";
    font-weight: 500;
    font-style: normal;
    color: #6098f5;
    transition: all 0.3s;
    font-size: 2em;
}

.footer {
    padding: 1em;
}

#qrcode img {
    margin: 0 auto;
}

#or {
    position: relative;
}

#or span::before, #or span::after {
    content: "";

    position: absolute;

    width: 45%;

    height: 2px;

    background: white;
}

#or span::before {
    top: 50%;
    right: 0;
}

#or span::after {
    top: 50%;
    left: 0;
}

.code-input {
    width: 50px;
    height: 50px;
    font-size: 1em;
    text-transform: uppercase;
}

.code-input-container {
    display: flex;
    width: 100%;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}