@using DropSpace.Extensions
@{
    ViewData["Title"] = Model.Name;
    ViewData["ContainerClasses"] = "d-flex flex-column";
}
@model DropSpace.Models.Data.Session
<nav class="navbar navbar-dark bg-dark">
    <div class="w-100 p-3 w-100" style="display: block">
        <div class="navbar-nav mr-auto flex-row align-items-center justify-content-between" style="display: flex;">
            <div class="nav-item text-white d-flex align-items-center gap-3" style="cursor: default">
                <div>
                    <span id="memberCount">@Model.Members.Count</span>
                    <i class="fa-regular fa-user"></i>
                </div>
                 <div>
                    @Model.Name
                </div>
            </div>
            <ul class="gap-4 m-0" style="display: flex;">
                <li class="nav-item text-white flex-column align-items-center" style="cursor: default; display: flex;">
                    <div> <span id="session-size">0</span> / @Model.MaxSize.ToMBytes() 
                        <span class="subtitle" style="letter-spacing: 0px; font-size: 0.7em; margin: 0 0 0 0.5em">MB</span></div>
                    <div class="subtitle" style="font-size: 0.7em; letter-spacing: 1px">Максимальный объем</div>
                </li>
                <li class="nav-item text-white flex-column align-items-center" style="cursor: default; display: flex;">
                    <div id="time-counter">@((Model.Created + Model.Duration - DateTime.Now).ToString(@"hh\:mm\:ss"))</div>
                    <div class="subtitle" style="font-size: 0.7em; letter-spacing: 1px">Оставшееся время</div>
                </li>
                <li class="nav-item align-items-center justify-content-center" style="cursor: pointer; display: flex">
                    <i class="fa-solid fa-share btn btn-dark fs-6" id="share-button" data-bs-toggle="modal" data-bs-target="#shareModal"></i>
                    <i class="fa-solid fa-right-from-bracket btn btn-dark fs-6" id="leave-button"></i>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="d-flex flex-column flex-grow-1">
    <div class="p-4 d-flex gap-3 flex-wrap container-fluid file-container flex-grow-1 align-items-start">
        <div class="add-file-button file btn-outline-dark btn d-flex flex-column align-items-center justify-content-center p-2" style="border-radius: 15px; border-style: dashed; border-width: 5px; min-width: 150px; min-height: 200px">
            <div class="d-flex w-100 align-items-center justify-content-center" style="flex: 0 0 33%">
            </div>
            <div class="d-flex flex-column w-100 align-items-center justify-content-center" style="flex: 0 0 33%"><i class="fa-regular fa-plus" style="font-size: 6em"></i></div>
            <div class="d-flex w-100 align-items-center justify-content-center" style="flex: 0 0 33%">
            </div>
        </div>
    </div>
    <div class="collapse" id="filesActionsNavbar">
        <div class="bg-dark p-4">
            <h5 class="text-white h4 mb-4" id="files-counter"></h5>
            <div class="row gap-4">
                <button id="file-download" type="button" class="btn btn-outline-primary" style="width: 10em">
                    <i class="fa-solid fa-arrow-down"></i> Скачать
                </button>
                <button id="file-delete" type="button" class="btn btn-outline-danger" style="width: 10em">
                    <i class="fa-solid fa-trash"></i> Удалить
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-white" data-bs-theme="dark" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header fs-3">
                <h5 class="modal-title" id="shareModalTitle">Пригласить участника</h5>
            </div>
            <div class="modal-body">
                <div id="qrcode"></div>
                <div id="or" class="text-center my-3"><span>ИЛИ</span></div>
                <div class="code-input-container my-3" data-button="inviteUser">
                    <input class="border code-input form-control" maxlength="1" autocorrect="off" autocomplete="off" autocapitalize="none" spellcheck="false" autofocus="" contenteditable="" placeholder="" />
                    <input class="border code-input form-control" maxlength="1" autocorrect="off" autocomplete="off" autocapitalize="none" spellcheck="false" autofocus="" contenteditable="" placeholder="" />
                    <input class="border code-input form-control" maxlength="1" autocorrect="off" autocomplete="off" autocapitalize="none" spellcheck="false" autofocus="" contenteditable="" placeholder="" />
                    <input class="border code-input form-control" maxlength="1" autocorrect="off" autocomplete="off" autocapitalize="none" spellcheck="false" autofocus="" contenteditable="" placeholder="" />
                    <input class="border code-input form-control" maxlength="1" autocorrect="off" autocomplete="off" autocapitalize="none" spellcheck="false" autofocus="" contenteditable="" placeholder="" />
                    <input class="border code-input form-control" maxlength="1" autocorrect="off" autocomplete="off" autocapitalize="none" spellcheck="false" autofocus="" contenteditable="" placeholder="" />
                </div>
                <p class="my-3 text-center subtitle" style="letter-spacing: normal">Чтобы войти с другого устройства отсканируйте QR-код или введите комбинацию символов, указанную на главной странице приглашаемого устройства.</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button id="inviteUser" type="button" class="btn btn-outline-primary" disabled>Отправить</button>
                </div>
            </div>
        </div>
    </div>
    <input multiple="multiple" type="file" id="fileInput" style="display: none;" />
</div>