<div class="d-flex flex-column align-items-center justify-content-center my-5 container">
    <h1>Ошибка!</h1>
    <p>Приносим свои извинения, но вы достигли лимита сессий и не можете войти в новую.</p>
    <button class="btn btn-primary" onclick="window.location.href = '/'">На главную</button>
</div>